/* Header formatting */
header {
    background-color: #f5f0e1;
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;
    margin: 0;
    z-index: 1;
    align-items: center;
}

header a {
    text-decoration: none;
    margin: 0 4rem 0 4rem;
    color: #2e507c;
}

a:hover {
    color: #f5f0e1;
    background-color: #2e507c;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-delay: 175ms;
}

/* All sections */
section {
    margin: 4rem;
    background-color: #b4d1e4;
    color: #1a283b;
    padding: 4rem;
    border-radius: 0.25rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3, h4 {
    font-size: 1.25rem;
    margin-left: 2rem;
    padding: 1rem 0;
}

p {
    line-height: 1.75rem;
}

ol {
    line-height: 1.75rem;
    display: list-item;
    display: list-item;
}

/* Top section formatting */
div.top-section {
    height: 40rem;
    background-image: url("https://i.imgur.com/H7yDgcu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin-top: 17.5rem;
    opacity: 0.7;
    height: 3.5rem;
    padding: 1rem;
    background-color: #b4d1e4;
    color: #1a283b;
    border-radius: 0.25rem;
}

/* First section */
.first-section {
    display: flex;
    flex-direction: column;
}

.mountain-pic {
    padding: 2rem 0;
    width: 100%;
}

/* Second section */

/* Third section */
#live {
    padding-bottom: 1rem;
}